[
  {
    'trees': [
      - @tree.trees.each do |dir|
        = dir.basename.to_json
        - if @tree.trees.last != dir
          ,
    ],
    'blobs': [
      - @tree.blobs.each do |file|
        = file.basename.to_json
        - if @tree.blobs.last != file
          ,
    ]
  }
]